body {
    padding: 0;
    margin: 0;
    font-size: 1em; /* fallback font size */
    font-family: Poppins, sans-serif; /* fallback font */
}

nav {
    overflow: hidden;
}
nav ul {
    margin: 1em;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    padding: 2em 1em .8em 1em;
    margin: 1em;
    line-height: 1em;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li.logo span {
    position: relative;
    bottom: 0.8em;
    font-weight: bold;
    font-size: 2em;
    font-family: Lobster, cursive;
}

.logo em {
    color: #FFC12B;

}
nav ul li a img.cart-ico{
    height: 15px;
}

nav ul li a:hover {
    border-bottom: #fa8704 2px solid;
}

#container {
    background: linear-gradient(112deg, #FFFFFF 62%, #FFC12B 40%);

}

/* landing page section */
#home {
    margin: 0 2em 0 2em ;
    display: flex;
    height: 85vh;
}
.home-content {
    position: relative;
    width: 50%;
    top: 10%;
    left: 70px;
    font-family: Poppins, sans-serif;
}

.home-content p:first-child{
    font-weight: 800;
    font-size: 3em;
}

.home-content p.description {
    font-weight: bold;
    color: #615858;
    font-size: 22px;
}
.order-btn{
    padding: 18px;
    position: relative;
    top: 20%;
    left: 50px;
    text-decoration: none;
    color: #000000;
    background-color: #FA9529;
    border-radius: 50px 50px 0 50px;
    font-weight: bold;
}

div.banner-img {
    position: relative;
    left: 10%;
}

.banner-img img{
    height: 100%;
}

/* Offers section */
#offers {
    padding: 20px;
    background-color: #F7FDF6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px;
    height: 70%;
    padding: 20px;
    margin: 1.2em;
    border: 1px solid gray;
    border-radius: 8px;
    text-align: center;
    color: #696666; 
}

.card-2{
    transform: scale(1.1);
}
.card h2{
    /* */
    color: #FA9529;
}
#offers img {
    max-width: 200px;
}

/* menu section */
/* #cart {
    height: 100vh;

} */
.menu-title {
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.menu-card {
    float: left;
    width: 350px;
    position: relative;
    left: 10%;

    padding: 10px;
    margin: 1em;
    border-radius: 40px;
    text-align: center;
    color: #242524; 

    /* menu card shadow effect */
    box-shadow: 
    2px 0 16px 2px hsla(0, 0%, 0%, 0.251),
    -8px -2px 2px 0 rgba(255, 255, 255, 0.3);
}

h3 {
    font-size: 2em;
}

.menu-card img {
    max-width: 200px;
    /* object-fit: cover; */
}
.price-tag {
    float: left;
    margin-left: 2em;
    font-weight: 800;
    font-size: 20px;
}

img.cart-icon{
    float: right;
    margin-right: 2em;
    height: 24px;
    background-color: #E1EBE6;
    padding: 16px;
    border-radius: 20px;
}